@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --softColor: hsl(215, 51%, 70%);
  --cyanColor: hsl(178, 100%, 50%);
  --mainColor: hsl(217, 54%, 11%);
  --cardColor: hsl(216, 50%, 16%);
  --lineColor: hsl(215, 32%, 27%);
  --whiteColor: hsl(0, 0%, 100%);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
}

.card {
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cardColor);
  border-radius: 10px;
}

.hero-img {
  width: 90%;
  padding: 20px 10px;
  border-radius: 25px;
}

.hero-img:hover {
  cursor: pointer;
}

.card h1 {
  color: var(--whiteColor);
  font-size: 18px;
  align-self: flex-start;
  margin-left: 1.5rem;
  cursor: pointer;
}
.card h1:hover {
  color: var(--cyanColor);
}

.content {
  color: var(--softColor);
  font-weight: 300;
  width: 220px;
  margin-top: 1rem;
  font-size: 14px;
  align-self: flex-start;
  margin-left: 1.5rem;
}

hr {
  width: 85%;
  height: 1px;
  background-color: var(--lineColor);
  border: none;
}

.ethereum {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  margin-bottom: 1.25rem;
}

.ethereum p {
  font-size: 14px;
}

.ethereum .eth {
  color: var(--cyanColor);
  display: flex;
  gap: 5px;
}

.ethereum .clock {
  color: var(--softColor);
  display: flex;
  gap: 5px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.avatar img {
  width: 12%;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.avatar span {
  color: var(--softColor);
  font-size: 12px;
}

.avatar p {
  color: var(--whiteColor);
  font-size: 12px;
  cursor: pointer;
}
.avatar p:hover {
  color: var(--cyanColor);
}
